<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <body>

        <div th:fragment="modalbusy">
            
            <div class="modal fade" id="modal-busy" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body" style="text-align:center; padding: 50px;">
                            <img src="/images/ajax-loader.gif" id="loading-indicator" />
                            <div style="margin-top: 20px; font-size: 16px;">Working .....</div>
                            <div style="margin-top: 5px; font-size: 16px;">Please do not refresh your browser!</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </body>
</html>
