<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>
        
        <div th:fragment="master-side-nav">
            
            <!-- sidebar-->
            <aside class="sidebar-master-container">
                <div class="sidebar-content">
                    
                    <!-- MAIN Folder Tree START -->
                    <div id="mainTreeHeaderElement" class="zid-master-detail-nav-title">
                        <span id="mainTreeHeaderLabel"></span>
                    </div>
                    <div>
                        <ul id="mainFolderTree" class="ztree"></ul>
                    </div>
                    <!-- MAIN Folder Tree END -->
                    
                    <!-- SECONDARY Folder Tree START -->
                    <div id="subTreeHeaderElement">
                        <span id="subTreeHeaderLabel"></span>
                    </div>
                    <div>
                        <ul id="secondaryFolderTree" class="ztree"></ul>
                    </div>
                    <!-- SECONDARY Folder Tree END -->
                    
                </div>
            </aside>
            <div class="sidebar-layout-obfuscator"></div>
            
        </div>
       
    </body>
    
</html>